# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vscode/settings.json
Solution of olympiad tasks/Graph theory - 1/Breadth first search (BFS)/main
Solution of olympiad tasks/long arithmetic/Addition and subtraction/main
.gitignore
temp
temp.py
Solution of olympiad tasks/C++ Standard Template Library/Permutations/main
main.*